@model SWP391_FinalProject.Models.UserModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AccLayout";
}

<!-- Header -->
<header class="bg-dark text-white text-center py-4">
    <h1>Your Profile</h1>
</header>

<div class="container mt-4 profile-info">
    <a asp-action="Index" asp-controller="Pro" class="btn btn-secondary">Back To Home</a>
    <a asp-action="UserOrderHistory" asp-controller="Order" asp-route-UserId="@Model.Account.Id" class="btn btn-success">View Order History</a>
    <h3>User Information</h3>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Username</th>
                <td>@Model.Account.Username</td>
            </tr>
            <tr>
                <th scope="row">Full Name</th>
                <td> @Model.Name</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@Model.Account.Email</td>
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td>@Model.Account.Phone</td>
            </tr>
           
            <tr>
                    <th scope="row">Province</th>
                    <td>@Model.Province</td>
                </tr>

                <tr>
                    <th scope="row">Distinct</th>
                    <td>@Model.District</td>
                </tr>

                <tr>

                    <th scope="row">Address</th>
                    <td>@Model.Address</td>
                </tr>

            <tr>
                <th scope="row">Total Points</th>
                <td class="total-points">@string.Format("{0:N0}", @Model.Point)</td>
            </tr>
            
        </tbody>
    </table>

    <div class="edit-btn">
        <a asp-action="EditProfile" asp-controller="User" asp-route-username="@User.FindFirst("Username")?.Value" class="btn btn-primary">Edit Profile</a>
        <a asp-action="ChangePassword" asp-controller="User" class="btn btn-warning">Change Password</a>
        <a asp-controller="Acc" asp-action="Logout" class="btn btn-danger">Logout</a>
    </div>
</div>