@using SWP391_FinalProject.Repository
@model SWP391_FinalProject.Models.UserModel
@{
    UserRepository userRepo = new UserRepository();
    Layout = "_Profile";
    string username = User.FindFirst("Username")?.Value;
    ViewBag.User = userRepo.GetUserProfileByUsername(username);
    UserModel user = userRepo.GetUserProfileByUsername(username);
    bool IsLoginWithGoogle = false;
    if (user.Account.Password.Equals(SWP391_FinalProject.Helpers.MySetting.GetMd5Hash("")))
    {
        IsLoginWithGoogle = true;
    }
    ViewBag.IsLoginWithGoogle = IsLoginWithGoogle;
}

              <h3 class="font-weight-bold text-dark">User Information</h3>
              <table class="table table-striped table-bordered">
                  <tbody>
                      <tr>
                          <th scope="row">Username</th>
                          <td>@Model.Account.Username</td>
                      </tr>
                      <tr>
                          <th scope="row">Full Name</th>
                          <td>@Model.Name</td>
                      </tr>
                      <tr>
                          <th scope="row">Email</th>
                          <td>@Model.Account.Email</td>
                      </tr>
                      <tr>
                          <th scope="row">Phone Number</th>
                          <td>@Model.Account.Phone</td>
                      </tr>
                      <tr>
                          <th scope="row">Province</th>
                          <td>@Model.Province</td>
                      </tr>
                      <tr>
                          <th scope="row">District</th>
                          <td>@Model.District</td>
                      </tr>
                      <tr>
                          <th scope="row">Address</th>
                          <td>@Model.Address</td>
                      </tr>
                      <tr>
                          <th scope="row">Total Points</th>
                          <td class="total-points">@string.Format("{0:N0}", @Model.Point)</td>
                      </tr>
                  </tbody>
              </table>
        
<style>
    /* Profile Header Styling */
    
    .btn-dark {
        background-color: #343a40;
    }

    .btn-info {
        background-color: #17a2b8;
    }

    .btn-warning {
        background-color: #ffc107;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    .btn-secondary {
        background-color: #6c757d;
    }

    /* Table Styling */
    .profile-info h3 {
        margin-bottom: 20px;
        color: #007bff;
        font-size: 24px;
    }

    .table {
        font-size: 16px;
        margin-top: 20px;
    }

        .table th, .table td {
            padding: 12px;
            text-align: center;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    

</style>




