@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<SWP391_FinalProject.Models.ProductModel>
<style>
    .image-container {
        height: 200px; /* Set fixed height for image container */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Ensure images do not overflow */
    }

    .image-container img {
        max-height: 100%; /* Ensure images fit the container height */
        max-width: 100%; /* Ensure images are responsive */
        object-fit: cover; /* Crop images to fill the container if necessary */
    }

    .price {
        margin-top: 10px;
    }

    .empty-span {
        display: block; /* Make the span behave like a block element */
        height: 23px; /* Give it some height to make it visible */
    }
    @@media (min-width: 768px) {
        .col-md-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.ProductState == "Available")
            {
                <div class="col-md-3 mb-4 h-100">
                    <div class="card text-center">
                        <a asp-controller="Pro" asp-action="ProductDetail" asp-route-id="@item.Id" asp-route-productItemId="@item.ProductItem.Id" asp-route-Price="@item.ProductItem.PriceAfterDiscount">
                            <div class="image-container">
                                <img src="~/pictures/@item.Picture" class="card-img-top" alt="@item.Name">
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <div class="price">
                                @if (item.ProductItem.Discount !=0){
                                    <span class="old-price text-muted text-decoration-line-through">@String.Format("{0:N0}", item.ProductItem.SellingPrice) VND</span>
                                    <h4 class="new-price text-danger">@String.Format("{0:N0}", item.ProductItem.PriceAfterDiscount) VND</h4>
                                    <span class="saving text-success">Saving: @String.Format("{0:N0}", item.ProductItem.Saving) VND</span>
                                }else{
                                    <span class="empty-span"></span>
                                    <h4 class="new-price text-danger">@String.Format("{0:N0}", item.ProductItem.SellingPrice) VND</h4>
                                    <span class="empty-span"></span>
                                }
                               
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
